body {
    background-color: lightgrey;
}

header {
    padding: 10px;
  }
  
  header .row{
    display: flex;
    align-items: center;
  }
  
  header h1 {
    font-weight: 700;
    margin: 0;
    color: white;
    text-shadow: 1px 1px grey;
  }
  
  header nav {
    display: flex;
    justify-content: flex-end;
  }
  
  header a {
    padding: 0 20px;
    margin: 0;
    color: white;
  }

.jumbotron {
    display: flex;
    background-image: url('https://schmaits.github.io/images/Manchester%20Skyline.jpg');
    background-size: cover;
    color: #ffffff;
    height: 500px;
}


.bulk {
    background-color: white;
    margin-left: 250px;
    margin-right: 250px;
}

h3 {
    font: Palatino;
    font-size: 28px;
    margin: 20px;
    padding-top: 20px;
    color: rgb(82, 80, 80);
}
  
p {
    font: Arial;
    font-size: 16px;
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px;
    color: rgb(82, 80, 80);
}

img {
   width: 100%;
}

figcaption {
    font-style: italic;
    font-size:10x;  
}

form {
    font: Arial;
    font-size: 16px;
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 10px;
}

form .row{
    display: flex;
    align-items: center;
  }

#message {
    height: 250px;
    width: 250px;
}

#submitbutton {
    margin-left: 20px;
}


.end {
    font-style: italic;
    padding-bottom: 10px;
}