body {
    background-color: lightgrey;
}

header {
    padding: 10px;
  }
  
  header .row{
    display: flex;
    align-items: center;
  }
  
  header h1 {
    font-weight: 700;
    margin: 0;
    color: white;
    text-shadow: 1px 1px grey;
  }
  
  header nav {
    display: flex;
    justify-content: flex-end;
  }
  
  header a {
    padding: 0 20px;
    margin: 0;
    color: white;
  }

.jumbotron {
    display: flex;
    background-image: url('/Users/caitlinstansfield/Northcoders/precourse-section-3/images/Manchester Skyline.jpg');
    background-size: cover;
    color: #ffffff;
    height: 500px;
}


.bulk {
    background-color: white;
    margin-left: 200px;
    margin-right: 200px;
}

h3 {
    font: Palatino;
    font-size: 28px;
    margin: 20px;
    color: rgb(82, 80, 80);
}
  
p {
    font: Trebuchet MS;
    font-size: 16px;
    text-align: justify;
    margin: 20px;
    color: rgb(82, 80, 80);
}

img {
    max-width: 100%;
}

.end {
    font-style: italic;
}